{% extends 'base.html' %}

{% block title %}Add some choices!{% endblock %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="#">Poll</a> <span class="divider">></span></li>
    <li><a href="#">General</a> <span class="divider">></span></li>
    <li class="active">Choices</li>
  </ul>
  <form action="{% url pollka.polls.views.choices %}" class="form-horizontal" method="post">{% csrf_token %}
    {{ form }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Next step</button>
    </div>
  </form>
{% endblock %}

